* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  color: white;
  /* background-color: red; */
}

/* App-js style  */
.app--container {
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 10px;
  width: 517px;
  height: 845px;
  background-color: rgba(138, 174, 225, 0.814);
}

.app--container--two {
  border-radius: 10px;
  margin: 20px auto;
  background-color: rgb(35, 46, 54);
  /* border: 1px solid white; */
  width: 317px;
  height: 765px;
  box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.233);

}